/* Base and utility classes from Tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Styling for the FullCalendar container */
.calendar-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Responsive adjustments for FullCalendar */
@media (max-width: 768px) {
    
    .fc .fc-toolbar {
        padding: 0.5rem;
        font-size: 0.875rem; 
    }

    
    .fc .fc-daygrid-day {
        padding: 0.25rem;
    }

    
    .fc .fc-daygrid-day-number {
        font-size: 0.75rem; 
    }

}
/* Base FullCalendar styling*/
.fc .fc-toolbar {
    background-color: #f5f5f5; 
    color: #333333; 
    padding: 10px;
    border-bottom: 1px solid #dddddd; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.fc .fc-toolbar-title {
    font-size: 1.25rem; 
    font-weight: bold; 
}

.fc .fc-button {
    background-color: #4f46e5; 
    color: white; 
    border: none; 
    padding: 8px 16px; 
    border-radius: 4px; 
    font-weight: 500; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-right: 8px; 
}

.fc .fc-button:hover {
    background-color: #3730a3; 
}

.fc .fc-button:active {
    background-color: #312e81; 
}

.fc .fc-button.fc-button-primary {
    background-color: #6366f1; 
}

.fc .fc-button.fc-button-active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.fc .fc-event {
    background-color: #10b981; 
    color: #ffffff; 
    border: 1px solid #10b981; 
    border-radius: 4px; 
    font-size: 0.875rem;
    padding: 4px 8px; 
}


.fc .fc-today-button {
    background-color: #ef4444; 
    color: white; 
    border: none; 
    border-radius: 0.25rem; 
    padding: 0.5rem 1rem; 
    margin-left: 0.5rem; 
    font-weight: 500; 
  }

@media (max-width: 1024px) { 
    .fc .fc-button {
      padding: 6px 12px; 
      font-size: 0.875rem; 
    }
  }
  
  @media (max-width: 768px) { 
    .fc .fc-button {
      padding: 4px 10px; 
      font-size: 0.75rem; 
    }
  }
  
  @media (max-width: 480px) { 
    .fc .fc-button {
      padding: 2px 8px; 
      font-size: 0.625rem; 
    }
  }

  /* Custom CalendarHeader button styles */
.calendar-header-button {
    background-color: #f7559a; 
    color: white; 
    border: none; 
    padding: 8px 16px; 
    border-radius: 4px; 
    font-weight: 500; 
    margin-right: 8px; 
    transition: background-color 0.2s; 
}

.calendar-header-button:hover {
    background-color: #f986b7; 
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .calendar-header-button {
      padding: 6px 12px; 
      font-size: 0.875rem; 
    }
}

@media (max-width: 768px) {
    .calendar-header-button {
      padding: 4px 10px; 
      font-size: 0.75rem; 
    }
}

@media (max-width: 480px) {
    .calendar-header-button {
      padding: 2px 8px; 
      font-size: 0.625rem; 
    }
}
/* index.css */
@media (max-width: 1800px) { 
    .hide-on-small-screens {
      display: none;
    }
  }
  